/*HEADER PC START*/
#header {
	background-color: white;
	padding: 15px 15px;
	font-family: Arial;
	color: #333;
}

.logo-header {
	font-size: 37px;
}

.description-header {
	position: relative;
	font-size: 25px;
	top: 10px;
}
/*HEADER PC END*/


@media screen and (max-width: 768px) {
	/*HEADER MOBILE TABLET START*/
	#header {
		text-align: center;
	} /*HEADER MOBILE TABLET END*/
}