/*CSS RESET START*/
	*{
		padding: 0px;
		margin: 0px;
		box-sizing: border-box;
	}
/*CSS RESET END*/

/*CUSTOM RESET START*/
    .left{
    	float: left;
    }
    .right{
    	float: right;
    }
    .clear{
    	clear: both;
    }

   /*MOBILE FIRST*/
   @media screen and (max-width: 760px) {
	   .left{
			width: 100%;
		}
		.right{
			width: 100%;
		}
   }
/*CUSTOM RESET END*/